/* Define que o box-sizing para todos os elementos será border-box, fazendo com que padding e border sejam incluídos nas dimensões totais do elemento */
* {
    box-sizing: border-box;
}

/* Estiliza o contêiner do slideshow */
.slideshow-container {
    max-width: 1000px;  /* Define a largura máxima do contêiner */
    position: relative;  /* Permite posicionar elementos absolutamente em relação a este contêiner */
    margin: auto;  /* Centraliza o contêiner horizontalmente */
}

/* Estiliza os slides, escondendo-os por padrão */
.mySlides {
    display: none;  /* Oculta os slides */
}

/* Estiliza os botões de navegação (anterior e próximo) */
.anterior, .proximo {
    cursor: pointer;  /* Altera o cursor ao passar sobre os botões */
    position: absolute;  /* Posiciona os botões absolutamente dentro do contêiner */
    top: 50%;  /* Centraliza verticalmente os botões */
    width: auto;  /* Ajusta a largura automaticamente */
    margin-top: -22px;  /* Ajusta a posição vertical dos botões */
}

/* Estiliza o texto descritivo nos slides */
.text {
    color: #f2f2f2;  /* Define a cor do texto */
    font-size: 15px;  /* Define o tamanho da fonte */
    padding: 8px 12px;  /* Adiciona espaço interno */
    position: absolute;  /* Posiciona absolutamente dentro do contêiner do slide */
    bottom: 8px;  /* Posiciona na parte inferior do contêiner */
    width: 100%;  /* Define a largura como 100% do contêiner */
    text-align: center;  /* Centraliza o texto */
}

/* Estiliza o texto numérico dos slides */
.numbertext {
    color: #f2f2f2;  /* Define a cor do texto */
    font-size: 12px;  /* Define o tamanho da fonte */
    padding: 8px 12px;  /* Adiciona espaço interno */
    position: absolute;  /* Posiciona absolutamente dentro do contêiner do slide */
    top: 0;  /* Posiciona na parte superior do contêiner */
}

/* Estiliza os pontos de navegação */
.ponto {
    cursor: pointer;  /* Altera o cursor ao passar sobre os pontos */
    height: 15px;  /* Define a altura dos pontos */
    width: 15px;  /* Define a largura dos pontos */
    margin: 0 2px;  /* Adiciona espaçamento horizontal entre os pontos */
    background-color: #bbb;  /* Define a cor de fundo dos pontos */
    border-radius: 50%;  /* Deixa os pontos redondos */
    display: inline-block;  /* Exibe os pontos em linha */
    transition: background-color 0.6s ease;  /* Adiciona uma transição suave na mudança de cor */
}

/* Estiliza o ponto ativo e o ponto em hover */
.active, .ponto:hover {
    background-color: #717171;  /* Define a cor de fundo do ponto ativo e do ponto em hover */
}

/* Estiliza a transição de fade para os slides */
.fade {
    animation-name: fade;  /* Define o nome da animação */
    animation-duration: 2.5s;  /* Define a duração da animação */
}

/* Define a animação de fade */
@keyframes fade {
    from {
        opacity: .2;  /* Define a opacidade inicial */
    }
    to {
        opacity: 1;  /* Define a opacidade final */
    }
}